.btn.banner-btn {
  background-color: #750000  ;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 20px;
  transition: border-color 0.3s, background 0.3s;
}

.btn.banner-btn:hover {
  border-color: #ffd700;
  background-color: #750000 ;
  color: #ffd700;
  transition: transform 0.2s ease-in-out;
  transform: scale(1.07); 
}